<a href="https://colab.research.google.com/github/scaleracademy/dsml-intermediate-may22/blob/main/Problem_Solving_Session.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

`zip` function

In [1]:
a = [1, 2, 3, 4]
b = "abcd"

In [7]:
names = ["A", "B", "C", "D"]
marks = [100, 90, 50, 80]
sections = ["A", "B", "A", "A"]

In [8]:
for x in zip(names, marks, sections):
  print(x)

('A', 100, 'A')
('B', 90, 'B')
('C', 50, 'A')
('D', 80, 'A')

In [4]:
list(zip(names, marks))

[('A', 100), ('B', 90), ('C', 50), ('D', 80)]

In [9]:
for name, score, section in zip(names, marks, sections):
  print(name, score, section)

A 100 A
B 90 B
C 50 A
D 80 A

In [10]:
a = [1, 2, 3, 4, 5]
b = ["a", "b", "c"]

In [11]:
list(zip(a, b))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [15]:
d = {"name": "jatin", "language": "python"}
l = [1, 2]

In [20]:
list(zip(d, l))

[('name', 1), ('language', 2)]

In [17]:
for x in d:
  print(x)

name
language

In [18]:
for x in l:
  print(x)

1
2

# Decorators
Decorators are the functions which take functions as an argument and returns the modified function.

In [21]:
def foo(a):
  res = a**2

  return res

In [26]:
def bar(f):
  def res():
    print("Start executing")
    f()
    print("End Executing")
  
  return res

In [35]:
def sheldon_knock():
  print("knock knock knock leanord")
  print("knock knock knock leanord")
  print("knock knock knock leanord")

sheldon_knock = bar(sheldon_knock)

In [36]:
@bar
def sheldon_knock():
  print("knock knock knock leanord")
  print("knock knock knock leanord")
  print("knock knock knock leanord")

In [34]:
sheldon_knock()

Start executing
knock knock knock leanord
knock knock knock leanord
knock knock knock leanord
End Executing

In [37]:
foo = bar(foo)

1. Write a decorator that prints 10 "*" before and after the execution of ANY function with ANY number of arguments and ANY return type.

In [39]:
def star_dec(f):
  def wrapper(*args, **kwargs):
    print("*" * 10)
    ret = f(*args, **kwargs)
    print("*" * 10)
    return ret
  
  return wrapper

In [40]:
@star_dec
def square(x):
  return x**2

In [42]:
a = square(5)

**********
**********

In [43]:
print(a)

25

In [44]:
sorted([1, 5, 2, 3, 1, 7])

[1, 1, 2, 3, 5, 7]

In [50]:
def second_smallest(arr):
  return sorted(set(arr))[1]

In [51]:
second_smallest([1, 5, 2, 3, 1, 7])

2

In [57]:
def second_smallest(arr):
  arr = list(set(arr))
  smallest = min(arr[0], arr[1])
  second_smallest = max(arr[0], arr[1])

  for a in arr[2:]:
    if a < smallest:
      second_smallest = smallest
      smallest = a
    elif smallest < a < second_smallest:
      second_smallest = a
    elif second_smallest < a:
      pass
  
  return second_smallest

In [58]:
second_smallest([1, 5, 2, 2, 3, 1, 7])

[1, 2, 3, 5, 7]

2

In [59]:
a = [5, 1, 4, 2, 3, 7]

In [64]:
from functools import reduce

smallest = reduce(lambda acc, x: min(acc, x), a)
arr_without_smallest = filter(lambda x: x != smallest, a)
second_smallest = reduce(lambda acc, x: min(acc, x), arr_without_smallest)

In [65]:
second_smallest

2

In [67]:
list = [(1, 1), (2, 3), (3, 1)]
list.sort(key= lambda x : x[1])

In [68]:
list

[(1, 1), (3, 1), (2, 3)]

Q13. 2nd lowest
Attempted
character backgroundcharacter
Stuck somewhere?
Ask for help from a TA and get it resolved.
Get help from TA.
Problem Description: Complete the Python function second_lowest() to find the second-lowest grade of students from the given names and grades of each student using lists and lambda function. For the input, the number of students, names, and the grades of each student were given. Sample Input: 5 #Number of students
S ROY
1
B BOSE
3
N KAR
2
C DUTTA
1
G GHOSH
1
Sample Output: [['S ROY', 1.0], ['B BOSE', 3.0], ['N KAR', 2.0], ['C DUTTA', 1.0], ['G GHOSH', 1.0]]
2.0
N KAR
Sample Explanation: Initially, the input data is printed in the form of 2d-list. Post that, the second-lowest grade is printed, and after that, we print the name(s) of the student who has that grade

def timeHandle(a,b,c,d):
'''inputs: a,b = hours and mins of t1
c,d = hours and mins of t2
Output: Two lines of output for each pair of t1 and t2. The code for printing outputs is already just make sure to return in the methods.'''
# The code for taking input and printing output is already taken care of.
class Spanoftime: def __init__(self,h,m): self.hours=h self.mins=m

In [ ]:
def addTime(t1, t2):
  # hours 
  # minutes
  return Spanoftime(hours, minutes)

In [69]:
class A():
  def __a(self):
    print("test") 
    
aa = A()
print(dir(aa))
aa._A__a()

['_A__a', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__']
test

In [74]:
class A:
  def __str__(self):
    return "string form of a"

In [75]:
a = A()
str(a)

'string form of a'

In [76]:
print(a)

string form of a

In [87]:
class A:
  def __init__(self, name):
    self.name = name

  @property
  def something(self):
    return self.name

In [88]:
a = A("scaler")
a.something()

'scaler'

In [ ]:
'scaler'()

In [89]:
class Student: 
  def __init__(self,roll,marks): 
    self.roll = roll 
    self.marks=marks 
  def display(self): 
    print('Roll:', self.roll,'Marks:',self.marks, end=" ") 

student1= Student(34,'A') 
student1.age=17 
student1.display()
print('Age:',student1.age)

Roll: 34 Marks: A Age: 17

In [ ]:
class Math:
  def add(a,b):
    return a+b
m1 = Math() 
m1.add(1,2) # These are 3 arguments m1, 1, 2

Math.add(1, 2) # These are 2 arguments 1, 1

In [123]:
def is_email_valid(email):
  if len(email.split("@")) != 2:
    return False

  user, domain = email.split("@")

  if not domain or not user:
    return False

  if len(user) > 20:
    return False

  return True

In [125]:
emails = ["sara@scaler.com@", "brian-23@scaler.com", "brute_54@scaler.com"]
sorted([email for email in emails if is_email_valid(email)])

['brian-23@scaler.com', 'brute_54@scaler.com']

[]

In [108]:
is_email_valid(emails[0])

False

In [110]:
user, domain = emails[0].split("@")

In [112]:
len(user)

4

In [126]:
bool("")

False