<a href="https://colab.research.google.com/github/scaleracademy/dsml-intermediate-may22/blob/main/Sorting_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = 5
for i in range(1, n+1): # n
  for j in range(1, n+1): # n
    for k in range(n//2, n+1, n//2): # 1
      c += 1

# O(n**2)

In [1]:
def selection_sort(arr):
  n = len(arr)
  for i in range(n-1):
    # find smallest element from i -> n

    min_indx = i

    for j in range(i+1, n):
      if arr[j] < arr[min_indx]:
        min_indx = j
    
    arr[i], arr[min_indx] = arr[min_indx], arr[i]

  return arr

In [11]:
selection_sort([5, 4, 1, 2, 3, 5, 1])

[1, 1, 2, 3, 4, 5, 5]

In [8]:
a = [5,4,3,2,1]
n = 5
for i in range(n-1):
  min = a[i] 
  for j in range(i+1, n):
    if min > a[j]:
      min = a[j]
  
  idx = a.index(min)
  a[i], a[idx] = a[idx], a[i] 

print(a)

[1, 2, 3, 4, 5]

In [5]:
a.index(1)

4

In [ ]:
def foo(n):
  if n % 2 == 0:
    for i in range(n):
      print(i**2)
  else:
    for i in range(n):
      for j in range(n):
        print(i*j)

In [15]:
n = 10
for i in range(1, n): # n
  for j in range(1, n//4): # n/4
    for k in range(1, n):
      print("something")
      break

something
something
something
something
something
something
something
something
something

In [18]:
B = [5, 1, 4, 3, 2]
for i in range(1,len(B)):
  while(i>0)and B[i]<B[i-1]:
    B[i],B[i-1] = B[i-1],B[i]
    i-=1

In [19]:
B

[1, 2, 3, 4, 5]

In [ ]:
arr = [5, 1, 3, 2, 4]
n=len(arr)
for i in range(n-1):
  min_ele = min(arr[i:])
  min_index = arr.index(min_ele,i)
  arr[i],arr[min_index]= arr[min_index],arr[i]